@use "../../vars" as *;
@use "sass:map";

.article-page {
  position: relative;

  .banner-image {
    width: 100%;
    height: 245px;
    background-size: cover;
    background-position: center 40%;
    background-repeat: no-repeat;
  }

  .content-container {
    max-width: 1290px;
    margin: -100px auto 50px;
    position: relative;
    background: map.get($colors, "white");
    border: 1px solid map.get($colors, "border");
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 50px 75px;

    .article-title {
      text-align: center;
      font-size: $font-size-lg;
      font-weight: $font-weight-regular;
      margin-bottom: 50px;
    }

    .article-text {
      font-size: 18px;
      line-height: 150%;
      color: #000000;
      text-align: justify;
    }
  }

  .back-link {
    margin: 35px 75px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-weight: $font-weight-bold;
    font-size: $font-size-md;
    line-height: 150%;
    text-decoration: none;
    color: map.get($colors, "main");

    svg {
      width: 12px;
      height: 10px;
      color: map.get($colors, "main");
      margin-top: 1px;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}
