@use 'sass:map';
@use '../../vars' as *;

.home-container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 50px 20px;

  .search-wrapper {
    margin-bottom: 40px;
    max-width: 600px;

    label {
      font-weight: 600;
      margin-bottom: 10px;
      display: block;
    }
  }

  .results-count {
    font-weight: 600;
    border-bottom: 1px solid map.get($colors, 'border');
    padding-bottom: 5px;
    margin-bottom: 45px;
    font-size: $font-size-md;
  }

  .articles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 45px;
    width: 100%;
    box-sizing: border-box;
  }
}